
name: CI/CD Pipeline for Notifications service

permissions:
  contents: 'read'
  id-token: 'write'

on:
  pull_request:
    branches: [ dev ] # TODO: Add main later, if or when we configure prod
  push:
    branches: [ dev ] # TODO: Add main later, if or when we configure prod

env:
  PROJECT_ID: 'artful-reactor-351917'
  GAR_LOCATION: 'europe-central2'

  DEV_CLUSTER: 'essa-cluster'
  DEV_ZONE: 'europe-central2'

  # we don't have that rn
  PROD_CLUSTER: 'essa-cluster'
  PROD_ZONE: 'europe-central2'

  DEPLOYMENT_NAME: notifications-release
  REPOSITORY: 'essa-images'
  IMAGE: 'notifications-service'

jobs:
  build-and-push:
    name: Build app & (on push) build + push Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      # Build Quarkus app (always runs)
      - name: Build package
        run: ./mvnw -B package -DskipTests

      # Authenticate to GCP (only on push)
      - id: auth
        name: Authenticate to GCP
        if: github.event_name == 'push'
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/881557273122/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions-provider'
          service_account: github-actions-account@artful-reactor-351917.iam.gserviceaccount.com

      # Configure Docker for Artifact Registry (only on push)
      - name: Configure Docker for GAR
        if: github.event_name == 'push'
        run: |
          gcloud auth configure-docker ${{ env.GAR_LOCATION }}-docker.pkg.dev --quiet

      # Build & Push Docker image (only on push)
      - name: Build & Push Docker Image
        if: github.event_name == 'push'
        run: |
          IMAGE_TAG="${GAR_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${REPOSITORY}/${IMAGE}:${GITHUB_SHA}"
          
          docker build \
            -f src/main/docker/Dockerfile.jvm \
            --tag "$IMAGE_TAG" \
            --build-arg GITHUB_SHA="${GITHUB_SHA}" \
            .
          
          docker push "$IMAGE_TAG"

  deploy-dev:
    name: Deploy to DEV (Helm)
    needs: build-and-push
    runs-on: ubuntu-latest

    # This job will only run when a commit is pushed to the dev branch. If you push to main or create a PR from another branch, this job will be skipped
    if: github.ref == 'refs/heads/dev'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/881557273122/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions-provider'
          service_account: github-actions-account@artful-reactor-351917.iam.gserviceaccount.com

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ env.DEV_CLUSTER }}
          location: ${{ env.DEV_ZONE }}

      - name: Deploy Helm Chart to DEV
        run: |
          helm upgrade --install ${{ env.DEPLOYMENT_NAME }} ./deploy/k8s/helm/notifications-chart \
            --set notifications.deployment.image.repository="${GAR_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${REPOSITORY}/${IMAGE}" \
            --set notifications.deployment.image.tag="${GITHUB_SHA}" \
            --namespace essa-project


  # deploy-prod:
  #   name: Deploy to PROD (Helm)
  #   needs: docker-build-push
  #   runs-on: ubuntu-latest
  #   if: github.ref == 'refs/heads/main'

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Authenticate to GCP
  #       uses: google-github-actions/auth@v2
  #       with:
  #         workload_identity_provider: 'projects/123456789/locations/global/workloadIdentityPools/my-pool/providers/my-provider'

  #     - name: Get GKE credentials
  #       uses: google-github-actions/get-gke-credentials@v2
  #       with:
  #         cluster_name: ${{ env.PROD_CLUSTER }}
  #         location: ${{ env.PROD_ZONE }}

  #     - name: Deploy Helm Chart to PROD
  #       run: |
  #         IMAGE_TAG="${GAR_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${REPOSITORY}/${IMAGE}:${GITHUB_SHA}"
  #         helm upgrade --install ${{ env.DEPLOYMENT_NAME }} ./helm-chart \
  #           --set image.repository="${GAR_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${REPOSITORY}/${IMAGE}" \
  #           --set image.tag="${GITHUB_SHA}" \
  #           --namespace prod

